<!-- views/partials/comment-form.handlebars -->

<form action="/planos/{{plano._id}}/comments" method="post">
    <div class="whiteboard">
        <textarea class="form-control" name="content" placeholder="Comment"></textarea>
        <button type="submit" class="botao btn btn-primary">Comentar</button>
    </div>
</form>