<!-- views/partials/login-form.handlebars -->

<fieldset class="whiteboard">
    <!-- username -->
    <div class="form-group">
        <label for="username">Nome de Usuário: </label><br>
        <input id="username" type="text" placeholder="Digite seu usuário" name="username" value="{{user.username}}"/>
    </div>

    <!-- password -->
    <div class="form-group">
        <label for="password">Senha: </label><br>
        <input id="password" type="password" placeholder="Digite sua senha" name="password" value="{{user.password}}"/>
    </div>
</fieldset>