<!-- views/partials/pĺanos-form.handlebars -->
<link rel="stylesheet" href="../style.css">
<fieldset>
    <!-- title -->
    <div class="form-group whiteboard">
        <label for="title">Título</label><br>
        <input id="title" type="text" name="title" value="{{plano.title}}"/>
    </div>

    <!-- description -->
    <div class="form-group whiteboard">
        <label for="description">Descrição</label><br>
        <textarea id="description" name="description" rows="10" />{{plano.description}}</textarea>
    </div>

</fieldset>