body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    background-color: #154047;
}

div#form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    margin: 10px;
    background-color: ghostwhite;
    
}

div#form div input,
div#form div select{
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

div#form div label{
    
}