body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#form,
div#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    background-color: #154047;
}

div#form div,
div#formulario div#cabecalho div,
div#conteudoCurso,
div#cadastrar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    margin: 10px;
    background-color: ghostwhite;
    transition: transform 0.3s;
    
}

div#form div:hover,
div#formulario div#cabecalho div:hover,
div#conteudoCurso:hover,
div#cadastrar:hover{
    transform: scale(1.03);
}

input,
select{
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

label,
div#conteudoCurso h3{
    font-family: Roboto, sans-serif;
}

button.botao{
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    margin: 10px;
    background-color: ghostwhite;
    transition: all 0.3s;
    font-family: Roboto;
}

button.botao:hover {
    background-color: #154047;
    color: ghostwhite;
    font-weight:bold;
    transition: all 0.5s;
    cursor: pointer;
}

div#botoes {
    display:flex;
    justify-content: space-between;
    align-content: space-between;
}

button#addLinha,
button#remLinha {
    width: 184px;
}