<!-- views/sign-up.handlebars -->

<div class="row">
    <div class="col-sm-5 col-sm-offset-5">
        <form action="/login" method="post">

            <!-- form -->
            {{>login-form}}

            <!-- button -->

            <div class="whiteboard">
                <button type="submit" class="botao btn btn-primary">Criar nova conta</button>
            </div>
        </form>
    </div>
</div>