<!-- views/planos-edit.handlebars -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/planos/{{plano._id}}?_method=PUT">

        <!-- form -->
        {{> planos-form}}

        <!-- button -->
        <div class="whiteboard">
            <button class="botao" type="submit">Salvar</button>
            <button class="botao" type="menu">Cancelar</button>
        </div>

        </form>
    </div>
</div>
