<!-- views/planos-new.handlebars -->

<div class="row">
    <div class="col-sm-5 col-sm-offset-5">
        <form action="/planos" method="post">

            <!-- form -->
            {{>planos-form}}

            <!-- button -->
            <div class="whiteboard text-right">
                <button type="submit" class="botao btn btn-primary">Criar novo plano</button>
            </div>
        </form>
    </div>
</div>