<!-- views/sign-up.handlebars -->

<div class="row">
    <div class="col-sm-5 col-sm-offset-5">
        <form action="/sign-up/new" method="post">
            <legend>Cadastre-se</legend>

            <!-- form -->
            {{>sign-up-form}}

            <!-- button -->
            <div class='text-right'>
                <button type="submit" class="btn btn-primary" id='cadastrar'>Criar nova conta</button>
            </div>
        </form>
    </div>
</div>